---
layout: default
---

    {% include header.html %}

<div class="home-box">

  <ul class="post-list">
    {% for post in site.posts %}
      <li class="post-intro">
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
          <h2>{{ post.title }}</h2>
          <span class="post-time">{{ post.date | date: "%b %-d, %Y" }}</span>
        </a>
        <!-- <img class="post-img" src="{{ site.baseurl }}/post-images/{{ post.image }}"> -->
        <div class="post-content">{{ post.excerpt }}</div>


      </li>
    {% endfor %}
  </ul>

</div>
