---
layout: default
---

    {% include header.html %}

<div class="home-box">

  <ul class="post-list">
    {% for post in paginator.posts %}
      <li class="post-intro">
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
          <h2>{{ post.title }}</h2>
        </a>
        <span class="post-time">{{ post.date | date: "%b %-d, %Y" }}</span>
        <!-- <img class="post-img" src="{{ site.baseurl }}/post-images/{{ post.image }}"> -->
        <div class="post-content">{{ post.excerpt }}</div>


      </li>
    {% endfor %}
  </ul>
  {% if paginator.total_pages > 1 %}
  <div class="pagination">
    {% if paginator.previous_page %}
      <a class="page-link" id="previous" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">← Previous</a>
    {% else %}
    {% endif %}

    <!-- {% for page in (1..paginator.total_pages) %}
      {% if page == paginator.page %}
        <em>{{ page }}</em>
      {% elsif page == 1 %}
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
      {% else %}
        <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
      {% endif %}
    {% endfor %} -->

    {% if paginator.next_page %}
      <a class="page-link" id="next" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next →</a>
    {% else %}
    {% endif %}
  </div>
  {% endif %}

</div>
